{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "useBuiltIns": "usage",
        "corejs": "3.20.2"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
